{% extends 'base.html.twig' %}

{% block title %}Tous les Cours
{% endblock %}

{% block body %}

	{% for lesson in lessons %}
		<h3>
			<a href="{{path('profile_show_cours', {'id' : lesson.id})}}">
				{{lesson.title }}
				{% if lesson in app.user.lessons %}
					{% if is_granted('ROLE_EDITOR')%}
						{% set status = 'success' %}
						{% set msg = 'Crée' %}
					{% else %}
						{% set status = 'info' %}
						{% set msg = 'Inscrit' %}
					{% endif %}
					<span class="badge badge-pill badge-{{status}}">{{msg}}</span>
				{% endif %}
			</a>
		</h3>
		<div class="metadata">
			Ecrit le
			{{lesson.createdAt | date('d/m/Y')}}
			à
			{{lesson.createdAt | date('H:i')}}
			par
			{{lesson.createdBy}}
		</div>
		<hr>
	{% endfor %}

{% endblock %}
