{% extends 'base.html.twig' %}

{% block title %}Mes exercices
{% endblock %}


{% block body %}

	{% if is_granted('ROLE_EDITOR') %}
		{% set route = "editor" %}
	{% else %}
		{% set route = "profile"%}
	{% endif %}


	<table class="table table-hover">


		<tbody>

			{% for lesson in app.user.lessons %}

				{% if is_granted('ROLE_EDITOR') %}
					{% set succes = lesson.success_rate %}
					{% if succes == 'NOT DEFINED' %}
						{% set stat = "secondary" %}
					{% elseif succes == 100  %}
						{% set stat = "success"%}
					{% elseif succes >= 50  %}
						{% set stat = "warning" %}
					{% else %}
						{% set stat = "danger" %}
					{% endif %}
				{% endif %}


				<td>
					<a href="{{path('profile_show_cours', {'id' : lesson.id})}}">
						<div style="height:100%;width:100%">
							<h3>{{lesson.title}}
								{% if is_granted('ROLE_EDITOR') %}
									<span class="badge badge-pill badge-{{stat}}">
										{{succes}}
									</span>
								{% endif %}
							</h3>


						</div>
					</a>


				</td>


				<table class="table table-hover">
					{% if is_granted('ROLE_EDITOR') %}
						<thead>
							<tr>
								<th>Exercice</th>
								<th>Taux de réussite</th>
								<th>Nombre de tentative</th>
							</tr>
						</thead>
					{% endif %}

					<tbody>
						{% for exercise in lesson.exercises %}

							{% if is_granted('ROLE_EDITOR') %}
								{% set succes_rate = exercise.success_rate %}
								{% if succes_rate == 'NOT DEFINED' %}
									{% set status = "table-secondary" %}
								{% elseif succes_rate == 100  %}
									{% set status = "table-success"%}
								{% elseif succes_rate >= 50  %}
									{% set status = "table-warning" %}
								{% else %}
									{% set status = "table-danger" %}
								{% endif %}
							{% else %}
								{% if app.user.getNotation(exercise) == null %}
									{% set status = "table-secondary" %}
								{% elseif app.user.getNotation(exercise).getNote == 100 %}
									{% set status = "table-success"%}
								{% elseif app.user.getNotation(exercise).getNote >= 50 %}
									{% set status = "table-warning" %}
								{% else %}
									{% set status = "table-danger" %}
								{% endif %}
							{% endif %}

							<tr class="{{status}}">
								<td>
									<a href="{{path(route ~'_show_exercises', {'id1' : lesson.id, 'id2' : exercise.id})}}">
										<div style="height:100%;width:100%">
											{{exercise.title}}
										</div>
									</a>
								</td>

								{% if is_granted('ROLE_EDITOR') %}
									<td>{{exercise.success_rate}}</td>
									<td>{{exercise.attempts}}</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				{% endfor %}
			</table>
		</tbody>
	</tbody>
</table>{% endblock %}
