{% extends 'base.html.twig' %}

{% block title %}Mes cours
{% endblock %}

{% block body %}

	{% set user = app.user %}

	{% if is_granted('ROLE_EDITOR') %}
		{% set route = "editor" %}
		{% set student = false %}
	{% else %}
		{% set route = "profile"%}
		{% set student = true %}
	{% endif %}


	{% if user.lessons is empty %}

		<div>
			{% if route == 'editor' %}
				<a type="button" class="btn btn-success" href="{{path('editor_create_cours')}}">Créer un cours</a>
			{% else %}
				<a type="button" class="btn btn-success" href="{{path('profile_cours')}}">S'inscrire à un cours</a>
			{% endif %}
		</div>

	{% else %}

		{% for lesson in user.lessons %}
			<table class="table table-hover 1">
				<tbody>

					{% if not student %}
						{% set succes = lesson.average_rate %}
						{% if succes == '/' %}
							{% set stat = "secondary" %}
						{% elseif succes >= 80  %}
							{% set stat = "success"%}
						{% elseif succes >= 40  %}
							{% set stat = "warning" %}
						{% else %}
							{% set stat = "danger" %}
						{% endif %}
					{% endif %}

					<td>
						<a href="{{path('profile_show_cours', {'id' : lesson.id})}}">
							<div style="height:100%;width:100%">
								<h3>{{lesson.title}}
									{% if not student %}
										<span class="badge badge-pill badge-{{stat}}" data-toggle="tooltip" title="Moyenne du cours sur 100">{{succes}}</span>
									{% endif %}
								</h3>
							</div>
						</a>
					</td>

				</tbody>
			</table>

			<table class="table table-hover 2">

				<thead>
					<tr>
						<th>Exercice</th>
						{% if not student %}
							<th data-toggle="tooltip" title="Moyenne du cours sur 100">Moyenne</th>
							<th>Nombre de tentative</th>
						{% else %}
							<th>Note</th>
						{% endif %}
					</tr>
				</thead>

				<tbody class="exercises">
					{% for exercise in lesson.exercises %}

						{% if not student %}
							{% set succes_rate = exercise.average_rate %}
							{% if succes_rate == '/' %}
								{% set status = "table-secondary" %}
							{% elseif succes_rate >= 80  %}
								{% set status = "table-success"%}
							{% elseif succes_rate >= 40  %}
								{% set status = "table-warning" %}
							{% else %}
								{% set status = "table-danger" %}
							{% endif %}
						{% else %}
							{% set notation = user.getNotation(exercise) %}
							{% if notation == null %}
								{% set status = "table-secondary" %}
								{% set note = '/' %}
							{% else %}
								{% set note = notation.note %}
								{% if note == 100 %}
									{% set status = "table-success"%}
								{% elseif note >= 50 %}
									{% set status = "table-warning" %}
								{% else %}
									{% set status = "table-danger" %}
								{% endif %}
							{% endif %}
						{% endif %}

						<tr class="{{status}}">

							<td>
								<a href="{{path(route ~'_show_exercises', {'id1' : lesson.id, 'id2' : exercise.id})}}">
									<div style="height:100%;width:100%">{{exercise.title}}</div>
								</a>
							</td>

							{% if not student %}
								<td>{{exercise.average_rate}}</td>
								<td>{{exercise.attempts}}</td>
							{% else %}
								<td>{{note}}</td>
							{% endif %}

						</tr>

					{% endfor %}
				</tbody>

			</table>

		{% endfor %}

	{% endif %}
{% endblock %}
