{% extends 'base.html.twig' %}

{% block title %}Mes Cours{% endblock %}

{% block body %}

  <h2>Mes cours</h2>

  <hr>

  {% for cour in app.user.lessons %}

    <section class="cours">

        <article>
            <h3> <a href="{{path('profile_show_cours', {'id' : cour.id})}}">{{cour.title}}</a> </h3>
            <div class="metadata"> Ecrit le {{cour.createdAt | date('d/m/Y')}} à {{cour.createdAt | date('H:i')}} par {{cour.createdBy}}</div>

        </article>

    </section>  
    <hr>

  {% endfor %}

{% endblock %}