{% extends 'base.html.twig' %}

{% block title %}Mes cours
{% endblock %}

{% block body %}

	{% if is_granted('ROLE_EDITOR') %}
		{% set route = "editor" %}
	{% else %}
		{% set route = "profile"%}
	{% endif %}

	{% if app.user.lessons is empty %}

		<div>
			{% if route == 'editor' %}
				<a type="button" class="btn btn-success" href="{{path('editor_create_cours')}}">Créer un cours</a>
			{% else %}
				<a type="button" class="btn btn-success" href="{{path('profile_cours')}}">S'inscrire à un cours</a>
			{% endif %}
		</div>

	{% else %}

		{% for lesson in app.user.lessons %}
			<table class="table table-hover 1">
				<tbody>
					{% if route=='editor' %}
						{% set succes = lesson.success_rate %}
						{% if succes == 'NOT DEFINED' %}
							{% set stat = "secondary" %}
						{% elseif succes == 100  %}
							{% set stat = "success"%}
						{% elseif succes >= 50  %}
							{% set stat = "warning" %}
						{% else %}
							{% set stat = "danger" %}
						{% endif %}
					{% endif %}

					<td>
						<a href="{{path('profile_show_cours', {'id' : lesson.id})}}">
							<div style="height:100%;width:100%">
								<h3>{{lesson.title}}
									{% if route=='editor' %}
										<span class="badge badge-pill badge-{{stat}}">{{succes}}</span>
									{% endif %}
								</h3>
							</div>
						</a>
					</td>
				</tbody>
			</table>

			<table class="table table-hover 2">
				<thead>
					<tr>
						<th>Exercice</th>
						{% if route=='editor' %}

							<th>Taux de réussite</th>
							<th>Nombre de tentative</th>
						{% else %}
							<th>Note</th>
						{% endif %}
					</tr>
				</thead>

				<tbody class="exercises">
					{% for exercise in lesson.exercises %}
						{% if route=='editor' %}
							{% set succes_rate = exercise.success_rate %}
							{% if succes_rate == 'NOT DEFINED' %}
								{% set status = "table-secondary" %}
							{% elseif succes_rate == 100  %}
								{% set status = "table-success"%}
							{% elseif succes_rate >= 50  %}
								{% set status = "table-warning" %}
							{% else %}
								{% set status = "table-danger" %}
							{% endif %}
						{% else %}
							{% set notation = app.user.getNotation(exercise) %}
							{% if notation == null %}
								{% set status = "table-secondary" %}
								{% set note = '/' %}
							{% else %}
								{% set note = notation.note %}
								{% if note == 100 %}
									{% set status = "table-success"%}
								{% elseif note >= 50 %}
									{% set status = "table-warning" %}
								{% else %}
									{% set status = "table-danger" %}
								{% endif %}
							{% endif %}
						{% endif %}

						<tr class="{{status}}">
							<td>
								<a href="{{path(route ~'_show_exercises', {'id1' : lesson.id, 'id2' : exercise.id})}}">
									<div style="height:100%;width:100%">{{exercise.title}}</div>
								</a>
							</td>
							{% if route=='editor' %}
								<td>{{exercise.success_rate}}</td>
								<td>{{exercise.attempts}}</td>
							{% else %}
								<td>{{note}}</td>
							{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
