{% extends "base.html.twig" %}


{% block title %}Exercice
{% endblock %}

{% block body %}

	<article>
		<h2>
			{{ exercise.title }}</h2>

		<div class="group"></div>

		<p>
			{{exercise.description}}
		</p>

		<hr>
		<div class="enonce-general">
			<label> <ins>A remettre dans le bon ordre avec la bonne indentation </ins></label>
			<ul>
				{% for line in random_lignes %}
					<li>{{ line.content }}</li>
				{% endfor %}
			</ul>
		</div>

		<div class="progress">
  		<div class="progress-bar bg-success" role="progressbar" style="width: {{note}}%"></div>
		</div>
		

		{% if succes %}
			<div class="succes"> <h2>Bravo, vous avez validé l'exercice !</h2></div>
		{% else %}

			<div class="errors">

				{% if not error_content is empty%}
					<hr>
					<div class="content">
						<label>Le contenue de la ligne est incorrect</label>
						<ul>
							{% for error in error_content %}
								<li>{{error}}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				{% if not error_indent is empty%}
					<div class="indent">
						<label>L'indentation est incorrect :</label>
						<ul>
							{% for error in error_indent %}
								<li>{{error}}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}


			</div>
		{% endif %}


		<table id="lines" class="table table-striped">
			<thead>
				<tr>
					<th>Rang</th>
					<th>Indentation</th>
					<th>Contenu</th>
				</tr>
			</thead>

			{{ form_start(form)}}

			{% for line in form.lines %}

				<tbody>
					<tr>
						<td>{{ form_widget(line.ranking) }}</td>
						<td>{{ form_widget(line.indentation) }}</td>
						<td>{{ form_widget(line.content) }}</td>

					</tr>
				</tbody>

			{% endfor %}

		</table>

		<nav class="navbar navbar-expand-lg ">
			<div class="collapse navbar-collapse" id="navbarColor04">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="{{path('profile_show_cours', {'id' : exercise.cours.id})}}" class="btn btn-primary">Retour</a>
					</li>
				</ul>

				{%  if not is_granted('ROLE_EDITOR') %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<button id="submit" type="submit" class="btn btn-success">
								Valider
							</button>
						</li>
					</ul>
				{% endif %}

			</div>
		</nav>

		{{ form_end(form) }}


	</article>
{% endblock %}

