{% extends 'base.html.twig' %}


{% block body %}
  <article>
    <h2> {{ cour.title }}</h2>
    <div class="metadata">  Ecrit le {{cour.createdAt | date('d/m/Y')}} à {{cour.createdAt | date('H:i')}} par {{cour.createdBy}}</div>
    <hr>

    <p> {{cour.content | raw}} </p>
    <hr>   

    {% if 'ROLE_EDITOR' in app.user.roles %}
      <a href="{{path('editor_edit_cours', {'id' : cour.id})}}" class="btn btn-primary"> Modifier le cours</a>
      <hr>
    {% endif %}
    
    <h3>Liste des exercices</h3>

    <div class=""> 
      
    </div>
    
  </article>    

  <section class="list-group">
    {% for exercise in cour.exercises %}
        <a href="{{path('profile_show_exercises', {'id1' : cour.id, 'id2' : exercise.id})}}"  class="list-group-item list-group-item-action">{{exercise.title}}</a>
    {% endfor %}
  </section>

  {% if 'ROLE_EDITOR' in app.user.roles %}
    <hr>
    <a href="/cours/#/#" class="btn btn-primary"> Ajouter un exercice </a>
  {% endif %}
{% endblock %}