{% extends 'base.html.twig' %}

{% block title %}Cours
{% endblock %}

{% block body %}
	<article>
		<h2>
			{{ cour.title }}</h2>
		<div class="metadata">
			Ecrit le
			{{cour.createdAt | date('d/m/Y')}}
			à
			{{cour.createdAt | date('H:i')}}
			par
			{{cour.createdBy}}</div>
		<hr>

		<p>
			{{cour.content | raw}}
		</p>
		<hr>

		{% if is_granted('ROLE_EDITOR') and app.user in cour.users %}
			<a href="{{path('editor_edit_cours', {'id' : cour.id})}}" class="btn btn-primary">
				Modifier le cours</a>
			<hr>
		{% endif %}

		<h3>Liste des exercices</h3>

		<div class=""></div>

	</article>

	<section class="list-group">
		{% for exercise in cour.exercises  %}
			<a href="{{path('profile_show_exercises', {'id1' : cour.id, 'id2' : exercise.id})}}" class="list-group-item list-group-item-action">{{exercise.title}}</a>
		{% endfor %}
	</section>

	{% if is_granted('ROLE_EDITOR') and app.user in cour.users %}
		<hr>
		<a href="{{path('editor_create_exercise', {'id1' : cour.id})}}" class="btn btn-primary">
			Ajouter un exercice
		</a>
	{% endif %}


	<hr>

	<nav class="navbar navbar-expand-lg ">

		<div class="collapse navbar-collapse" id="navbarColor03">

			<ul class="navbar-nav mr-auto">

				<li class="nav-item">
					<a href="{{path('profile_cours')}}" class="btn btn-primary">Retour</a>
				</li>

			</ul>

			<ul class="navbar-nav ml-auto">

				{% if is_granted('ROLE_EDITOR')%}

					{% else %}

						{% if app.user in cour.users %}

							<li class="nav-item">
								<a class="btn btn-danger" href="{{path('profile_unregisterLesson', {'id' : cour.id} )}}">Se désinscrire</a>
							</li>

						{% else %}

							<li class="nav-item">
								<a class="btn btn-success" href="{{path('profile_registerLesson', {'id' : cour.id} )}}">S'inscrire</a>
							</li>

						{% endif %}

				{% endif %}

			</ul>

		</div>

	</nav>

{% endblock %}
