{% extends "base.html.twig" %}


{% block title %}
	{{ exercise.title }}
{% endblock %}

{% block body %}

	<article>
		<h2>{{ exercise.title }}</h2>

		<div class="group"></div>

		<h3>
			<ins>Enoncé :
			</ins>
		</h3>

		<p>
			{{exercise.description}}
		</p>


		<table id="lines" class="table table-striped">
			<thead>
				<tr>
					<th>Rang</th>
					<th>Indentation</th>
					<th>Contenu</th>
				</tr>
			</thead>

			{% for line in exercise.lignes %}

				<tbody>
					<tr>
						<td>
							{{ line.ranking }}
						</td>
						<td>
							{{ line.indentation }}
						</td>

						<td>
							{{ line.content }}
						</td>
					</tr>
				</tbody>

			{% endfor %}

		</table>

		<hr>


		<nav class="navbar navbar-expand-lg ">
			<div class="collapse navbar-collapse" id="navbarColor04">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="{{path('profile_show_cours', {'id' : exercise.cours.id})}}" class="btn btn-primary">Retour</a>
					</li>
				</ul>

				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="btn btn-primary" href="{{path('editor_edit_exercise', {'id1': id1, 'id2': id2}) }}">Modifier l'exercice</a>
					</li>
				</ul>

			</div>
		</nav>


	</article>

{% endblock %}

