<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ZOOM LEARN{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{path('profile_home')}}">ZOOM LEARN</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                 <ul class="navbar-nav mr-auto">

                    {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('security_registration')}}">Inscription</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{path('security_login')}}">Connexion</a>
                            </li>
                    {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('profile_cours')}}">Tous les cours</a>
                            </li>
                    {% endif %}

                    {%  if is_granted('ROLE_EDITOR') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('editor_create_cours')}}">Créer un cours</a>
                            </li>
                    {% endif %}

                </ul>

                    {% if app.user %}
                        <ul class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <a class="nav-link " href="{{path('security_logout')}}">Deconnexion ({{app.user.username}})</a>
                            </li>
                        </ul>
                    {% endif %}

            </div>
        </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
